# Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import warnings
warnings.filterwarnings("ignore")

# Loading Data

In [10]:
treeEvd = pd.read_csv("p5.treeEVD.txt", sep = "\t", header=None)
treeEvd.rename(columns = {0:'time', 
                     1: 'event', 
                     2: 'event_key', 
                     3: 'data1', 
                     4: 'data2',
                     5:'description'}, inplace = True)
treeEvd.head()

    time         event  event_key  data1  data2 description
0   8844  LMouseButton          1    468    221         NaN
1  17196  LMouseButton          1    588    230         NaN
2  17874  LMouseButton          1    607    234         NaN
3  18571  LMouseButton          1    594    240         NaN
4  19728  LMouseButton          1    589    231         NaN

In [4]:
treeFxd = pd.read_csv("p5.treeFXD.txt", sep = "\t", header=None)
treeFxd.rename(columns = {0:'number', 
                     1: 'time', 
                     2: 'duration', 
                     3: 'screen_x', 
                     4: 'screen_y'}, inplace = True)
treeFxd.head()

   number  time  duration  screen_x  screen_y
0       1   264       100       673       469
1       2   504       140       705       553
2       3   763       179       648       534
3       4  1142       179       641       454
4       5  1780       120       674       482

In [5]:
treeGzd =  pd.read_csv("p5.treeGZD.txt", sep = "\t", header=None)
treeGzd.rename(columns ={0:'time', 
                     1: 'number', 
                     2: 'screen_x_left_eye', 
                     3: 'screen_y_left_eye', 
                     4: 'cam_x_left_eye',
                     5:'cam_y_left_eye',
                     6:'distance_left_eye',
                     7:'pupil_left_eye',
                     8:'code_left_eye', 
                    9:'screen_x_right_eye', 
                    10:'screen_y_right_eye',
                    11:'cam_x_rigth_eye',
                    12:'cam_y_right_eye',
                    13:'distance_right_eye', 
                    14:'pupil_right_eye', 
                    15:'code_right_eye'},inplace = True)
treeGzd.head()

,time,number,screen_x_left_eye,screen_y_left_eye,cam_x_left_eye,cam_y_left_eye,distance_left_eye,pupil_left_eye,code_left_eye,screen_x_right_eye,screen_y_right_eye,cam_x_rigth_eye,cam_y_right_eye,distance_right_eye,pupil_right_eye,code_right_eye
0,5,1,-1280,-1024,-1.000,-1.000,-1.0,-1.0,4,-1280,-1024,-1.000,-1.000,-1.0,-1.0,4
1,25,2,-1280,-1024,-1.000,-1.000,-1.0,-1.0,4,-1280,-1024,-1.000,-1.000,-1.0,-1.0,4
2,45,3,-1280,-1024,0.491,0.436,-1.0,-1.0,4,-1280,-1024,0.491,0.436,-1.0,-1.0,4
3,65,4,-1280,-1024,-1.000,-1.000,-1.0,-1.0,4,-1280,-1024,-1.000,-1.000,-1.0,-1.0,4
4,85,5,-1280,-1024,-1.000,-1.000,-1.0,-1.0,4,-1280,-1024,-1.000,-1.000,-1.0,-1.0,4

In [6]:
graphEvd = pd.read_csv("p5.graphEVD.txt", sep = "\t",names=['time','event','event_key','data1','data2','description'])

graphEvd.head(10)

    time         event  event_key  data1  data2 description
0   6838  LMouseButton          1    239    729         NaN
1   9809  LMouseButton          1    196    648         NaN
2  14404  LMouseButton          1    222    558         NaN
3  16627  LMouseButton          1    248    651         NaN
4  18122  LMouseButton          1    125    499         NaN
5  21811  LMouseButton          1    126    501         NaN
6  22867  LMouseButton          1    123    497         NaN
7  24023  LMouseButton          1    123    500         NaN
8  32496  LMouseButton          1    292    624         NaN
9  34201  LMouseButton          1    292    624         NaN

In [7]:
graphFxd = pd.read_csv("p5.graphFXD.txt", sep = "\t", header=None)
graphFxd.rename(columns = {0:'number', 
                     1: 'time', 
                     2: 'duration', 
                     3: 'screen_x', 
                     4: 'screen_y'}, inplace = True)
graphFxd.head()

   number  time  duration  screen_x  screen_y
0       1   356       140       435       196
1       2   555       279       289       205
2       3   914       219       151       310
3       4  2090       160       262       221
4       5  2270       199       293       224

In [8]:
graphGzd = pd.read_csv("p5.graphGZD.txt", sep = "\t", header=None)
graphGzd.rename(columns ={0:'time', 
                     1: 'number', 
                     2: 'screen_x_left_eye', 
                     3: 'screen_y_left_eye', 
                     4: 'cam_x_left_eye',
                     5:'cam_y_left_eye',
                     6:'distance_left_eye',
                     7:'pupil_left_eye',
                     8:'code_left_eye', 
                    9:'screen_x_right_eye', 
                    10:'screen_y_right_eye',
                    11:'cam_x_rigth_eye',
                    12:'cam_y_right_eye',
                    13:'distance_right_eye', 
                    14:'pupil_right_eye', 
                    15:'code_right_eye'},inplace = True)
graphGzd.head()

,time,number,screen_x_left_eye,screen_y_left_eye,cam_x_left_eye,cam_y_left_eye,distance_left_eye,pupil_left_eye,code_left_eye,screen_x_right_eye,screen_y_right_eye,cam_x_rigth_eye,cam_y_right_eye,distance_right_eye,pupil_right_eye,code_right_eye
0,17,1,-1280,-1024,-1.0,-1.0,-1.0,-1.0,4,-1280,-1024,-1.0,-1.0,-1.0,-1.0,4
1,37,2,-1280,-1024,-1.0,-1.0,-1.0,-1.0,4,-1280,-1024,-1.0,-1.0,-1.0,-1.0,4
2,57,3,-1280,-1024,-1.0,-1.0,-1.0,-1.0,4,-1280,-1024,-1.0,-1.0,-1.0,-1.0,4
3,77,4,-1280,-1024,-1.0,-1.0,-1.0,-1.0,4,-1280,-1024,-1.0,-1.0,-1.0,-1.0,4
4,97,5,-1280,-1024,-1.0,-1.0,-1.0,-1.0,4,-1280,-1024,-1.0,-1.0,-1.0,-1.0,4

In [11]:
baselineGzd =  pd.read_csv("p5GZD.txt", sep = "\t", header=None)
baselineGzd.rename(columns ={0:'time', 
                     1: 'number', 
                     2: 'screen_x_left_eye', 
                     3: 'screen_y_left_eye', 
                     4: 'cam_x_left_eye',
                     5:'cam_y_left_eye',
                     6:'distance_left_eye',
                     7:'pupil_left_eye',
                     8:'code_left_eye', 
                    9:'screen_x_right_eye', 
                    10:'screen_y_right_eye',
                    11:'cam_x_rigth_eye',
                    12:'cam_y_right_eye',
                    13:'distance_right_eye', 
                    14:'pupil_right_eye', 
                    15:'code_right_eye'},inplace = True)
#for considering the correct values
baselineGzd= baselineGzd.loc[((baselineGzd['code_left_eye'] == 0) & (baselineGzd['code_right_eye'] == 0))]
baselineGzd.head()

,time,number,screen_x_left_eye,screen_y_left_eye,cam_x_left_eye,cam_y_left_eye,distance_left_eye,pupil_left_eye,code_left_eye,screen_x_right_eye,screen_y_right_eye,cam_x_rigth_eye,cam_y_right_eye,distance_right_eye,pupil_right_eye,code_right_eye
7,146,8,411,248,0.718,0.453,736.585,3.139,0,381,257,0.454,0.482,742.950,3.252,0
12,268,13,419,223,0.720,0.452,739.161,2.954,0,379,249,0.456,0.481,745.742,3.056,0
29,584,30,319,196,0.725,0.454,738.129,3.197,0,279,203,0.461,0.481,746.472,3.119,0
30,604,31,319,192,0.725,0.454,739.738,3.204,0,281,214,0.461,0.481,741.841,3.100,0
39,784,40,230,149,0.723,0.454,741.986,3.179,0,225,132,0.459,0.482,744.724,3.240,0